<h1>Student Show</h1>

<p>Name: <%= @student.name %></p>
<p>Age: <%= @student.age %></p>
<hr>
<p>Courses:<br>
    <% @student.enrollments.each do |enrollment| %>
        <li><%= enrollment.course.name %>
        <%= button_to 'Drop Course', enrollment_path(enrollment), method: :delete %><br>
    <% end %>
</p>
<hr>

<%= link_to 'Enroll in Course', new_enrollment_path %><br>
<%= link_to 'Edit Student', edit_student_path %><br>
<%= link_to 'Delete Student', student_path(@student), method: :delete %><br>
<%= link_to 'Back to All Students', students_path %>